<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--- bootstrap for extra nice looks -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!--- hide my photo on mobiles for greater readability -->
    <style>
        .photo{display:inline;width:90%}
        @media (max-width: 768px) {
            .photo  {
                display:none;
            }
        }
    </style>

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>
            <a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a>
        </h1>

        {% if site.photo %}
          <img class="photo rounded" src="{{site.photo | relative_url}}" alt="my photo)))" />
        {% endif %}

        <br>

        <p>
            {{ site.description | default: site.github.project_tagline }}
            <br>
            twitter: <a href="https://twitter.com/{{site.social.twitter}}"><tt>@{{site.social.twitter}}</tt></a>
            <br>
            github: <a href="https://github.com/{{site.social.github}}"><tt>{{site.social.github}}</tt></a>
            <br>
            email: <a href="mailto:{{site.email}}"><tt>{{site.email}}</tt></a>
        </p>

        <p><b>I have recently changed my name! <br> Before, I was <i>Egor Alimpiev</i>. <br> You can still email me at <br> <tt>alimpiev (at) stanford.edu</tt>!</b></p>

      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>